# ChatGPT was used to get correct version numbers and to check/remove unecessary libraries 
gunicorn
Flask>=2.0.0
Flask-Login>=0.6.0
Flask-Session>=0.4.0
Flask-SQLAlchemy>=2.5
Werkzeug==3.1.3
requests>=2.0.0
